@page "/counter"

@using HomeIMS.SharedContracts
@using System.Text.Json
@using System.Text

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        var counterEvent = new CounterIncrementedEvent { Timestamp = DateTime.UtcNow };
        var serializedCounterEvent = JsonSerializer.Serialize(counterEvent);
        var content = new StringContent(serializedCounterEvent, Encoding.UTF8, "application/json");

        var response = await HttpClient.PostAsync("event", content);
    
        if (response.IsSuccessStatusCode)
        {
            currentCount++;
        }
    }
}
